.container {
    --background: var(--eco-oscuro);
    min-height: 100vh;

    .swiper-container {
        height: 100%;

        .swiper-slide {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .slide-image {
                width: 70vw;
                max-width: 400px;
                height: auto;
                display: block;
                margin: 2rem auto;
            }

            h2 {
                font-size: 1.4rem;
                font-weight: bold;
                text-align: center;
                color: var(--eco-oscuro-texto-principal);
            }

            p {
                font-size: 1rem;
                text-align: center;
                color: var(--eco-oscuro-texto-secundario);
            }

            .button-container {
                display: flex;

                .btn-skip {
                    font-weight: bold;
                    color: var(--eco-oscuro-texto-principal)
                }

                .btn-next {
                    font-weight: bold;
                    color: var(--eco-primario);
                }

                .btn-next::part(native) {
                    text-shadow:
                        0 0 6px #00BFA666,
                        0 0 12px #00BFA64D;
                }


                .btn-start {
                    background-color: var(--eco-primario);
                    color: var(--eco-oscuro);
                    width: 100%;
                    font-weight: 600;
                    border-radius: 30px;
                    height: 48px;
                    box-shadow: 0 4px 12px #00BFA680;
                }
            }
        }
    }
}