// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --color-claro: #f4cb89;
    --color-oscuro: #fc7e00;
    --espaciado-base: 1rem;
    --espaciado-grande: 2rem;

    --color-success: #45B067;

    // Tema oscuro
    --tema-oscuro-fondo: #1D1E25;
    --tema-oscuro-texto: #ffffff;
    --tema-oscuro-texto-2: #b3b3b3;

    // Tema claro
    --tema-claro-fondo: #ffffff;
    --tema-claro-texto: #000000;
    --tema-claro-texto-2: #4f4f4f;
}