// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    // Paleta de Eco
    --eco-primario: #00BFA6; // Principal: botones, acentos
    --eco-neon: #7DF9FF; // Detalles brillantes, sliders
    --eco-noche: #121212; // Fondo neutro oscuro

    // Tema Oscuro
    --eco-oscuro: #0F1C2E; // Fondo oscuro principal
    --eco-oscuro-texto-principal: #FFFFFF; // Texto claro sobre fondo oscuro
    --eco-oscuro-texto-secundario: #A0A4AB; // Texto suave, descripciones

    // Tema Claro
    --eco-claro: #E0F7F4; // Fondo claro o tarjetas
    --eco-claro-texto-principal: #000000; // Texto claro sobre fondo claro
    --eco-claro-texto-secundario: #4F4F4F; // Texto suave, descripciones

    // Estados
    --eco-success: #69F0AE;
    --eco-danger: #FF5252;
}

@font-face {
    font-family: "Poppins";
    font-weight: normal;
    font-style: normal;
    src: url('../assets/fonts/Poppins-Regular.ttf');
}

* {
    font-family: "Poppins";
}