<ion-header>
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>

    <ion-button slot="end" fill="clear" (click)="cambiarTema()">
      <ion-icon [name]="tema.icon" class="icon-tema"></ion-icon>
    </ion-button>

    <ion-buttons slot="end">
      <ion-menu-button class="icon-tema"></ion-menu-button>
    </ion-buttons>

    <!-- <ion-button slot="end" fill="clear" (click)="navigateTo()">
      <ion-icon name="arrow-forward" class="icon-tema"></ion-icon>
    </ion-button> -->
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" [scrollY]="false">
  <swiper-container effect="coverflow" pagination="true" loop="true" slides-per-view="1" class="swiper-container"
    [style.backgroundColor]="tema.bg">
    <swiper-slide *ngFor="let genre of genres">
      <div class="slide-content">
        <h2 [style.color]="tema.texto">{{ genre.title }}</h2>
        <img [src]="genre.image" [alt]="genre.title">
        <p [style.color]="tema.texto">{{ genre.description }}</p>
      </div>
    </swiper-slide>
  </swiper-container>
</ion-content>