<ion-content [scrollY]="false" class="ion-padding" class="container">
	<swiper-container #swiper effect="coverflow" class="swiper-container">
		<swiper-slide *ngFor="let slide of slides; let i = index" class="swiper-slide">
			<img [src]="slide.image" [alt]="slide.title" class="slide-image ion-margin" />
			<h2>{{ slide.title }}</h2>
			<p>{{ slide.description }}</p>

			<div [ngClass]="{ 'ion-justify-content-between' : i === 0, 'ion-justify-content-end': i > 0 && i < slides.length - 1 }"
				class="ion-padding button-container">
				<ion-button *ngIf="i === 0" fill="clear" (click)="start()" class="btn-skip">OMITIR</ion-button>
				<ion-button *ngIf="i !== slides.length - 1" fill="clear" (click)="next()" class="btn-next">
					SIGUIENTE
				</ion-button>
				<ion-button *ngIf="i === slides.length - 1" fill="clear" shape="round" expand="full" (click)="start()"
					class="btn-start">
					EMPEZAR
				</ion-button>
			</div>
		</swiper-slide>
	</swiper-container>
</ion-content>